<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Donee!</title>
  </head>
  <body style="background-color: black">
      
      <!--nav bar-->
     <div class="container-fluid">   
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand"><b>ARTIFY</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="pyi.php">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="artists.html">Artists</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="Hand%20wooven%20arts.html">Hand wooven arts</a>
          <a class="dropdown-item" href="jewell.html">Jewellery</a>
          <a class="dropdown-item" href="decoratives.html">Decoratives</a>
            <a class="dropdown-item" href="paintings.html">Paintings</a>
        
        </div>
            <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
      </li>
    </ul>
  </div>
</nav>
       
       <br>
      
      <div class="jumbotron jumbotron-fluid">
  <div class="container">
      <p class="display-4" style="align-content: center; font-size: 1000" ><b>About Us</b></p>
    <br>
      <h4>ARTIFY was launched with a mindset of uplifting art work of unheard voices in INDIA. 
If ARTIFY was to be described in a single word, ‘Irreverent’ would be it. Not the insolent, sacrilegious
or rude variety, but more the cheeky anti-authoritarian kind.
This is evident in the brand’s edgy, provocative and tongue-in-cheek advertising.
A brand that questions everything, pushes boundaries, constantly re-invents and never strays near the beaten path.
Artify, a Fair Trade Organization, are helping to spread the concepts and benefits of Fair Trading in India
and abroad. 
Thousands of artisans and producer groups depend on ARTIFY  for assistance throughout India. 
ARTIFY Association is a society formed with the objective of preserving crafts of India through marketing 
them abroad and movinf towards development.
To apply the surplus generated from the business to fulfill the objective of the association and engage in acts of charitable nature.</h4>
  </div>
</div>
<br>
      <br>
      <br>
      <p align="end" style="color: azure;font-family: inherit">powered by grounded team</p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>