<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>t</title>
  </head>
  <body style="background-color: black">
      
      <!--nav bar-->
      
   <div class="container-fluid">   
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand"><b>ARTIFY</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="pyi.php">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Aboutus.html">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="artists.html">Artists</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="Hand%20wooven%20arts.html">Hand wooven arts</a>
          <a class="dropdown-item" href="jewell.html">Jewellery</a>
          <a class="dropdown-item" href="decoratives.html">Decoratives</a>
            <a class="dropdown-item" href="paintings.html">Paintings</a>
        
        </div>
            <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
      </li>
    </ul>
  </div>
</nav>
       
      <div class="card bg-dark text-white">
  <img src="h1.png"  class="card-img" alt="" height="400px" >
  <div class="card-img-overlay">
      <br>
      <br>
      <h1 class="card-title" align="center" style="font-family: cursive; color: black" ><b></b></h1>
    <p class="card-text"></p>
    <p class="card-text"></p>
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
      
      <br>
      <br>
      <br>
      <div class="container-fluid">
  <div class="row">
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="DREAMCATCHER.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title">Dream Catcher</h5>
      <p class="card-text"><b>Art by Sunita</b></p>
      <p class="card-text"><b>Rs.220/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="shell.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Home decorative</h5>
      <p class="card-text"><b>Art by Subhi Rao</b></p>
      <p clas="card-text"><b>Rs.7800/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
      <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="basket.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Door Mat</h5>
    <p class="card-text"><b>Art work by Navitha</b></p>
      <p class="card-text"><b>Rs.759/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
  </div>
          
          <br>
      <br>
      <br>
      <div class="container-fluid">
  <div class="row">
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="bottle.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title">Woven Bottle</h5>
      <p class="card-text"><b>Art by Sunita</b></p>
      <p class="card-text"><b>Rs.750/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="ps.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Home decorative</h5>
      <p class="card-text"><b>Art by Subhi Rao</b></p>
      <p clas="card-text"><b>Rs.7800/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
      <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="hs.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Door Mat</h5>
    <p class="card-text"><b>Art work by Navitha</b></p>
      <p class="card-text"><b>Rs.759/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
  </div>
  </body>
</html>