<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>HSJ</title>
  </head>
  <body style="background-color: black">
    
      
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
      
      <!--nav bar-->
      
   <div class="container-fluid">   
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand"><b>ARTIFY</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="ooooook.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Aboutus.html">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="artists.html">Artists</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="Hand%20wooven%20arts.html">Hand wooven arts</a>
          <a class="dropdown-item" href="jewell.html">Jewellery</a>
          <a class="dropdown-item" href="decoratives.html">Decoratives</a>
            <a class="dropdown-item" href="paintings.html">Paintings</a>
        
        </div>
            <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
                
      </li>
        
        <a href="pylo.php" class="btn pull-right btn btn-danger">LOG OUT</a>
        
        
      </li>
    </ul>
  </div>
</nav>
       
       <br>
      <!-- slider -->
      
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="image_784.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="main-qimg-fd3638d6f587a5c4cee33d0e27eb3bc5.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="Home-Decor-Banner.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>  
      
      </div> 
      <br>
      <br>
      
      <h3 align="center" style="font-family: serif"><font color="white"><b> BEST SELLING </b></font></h3>
      <br>
      <br>
      
      <!-- card -->
      
      
      <div class="container-fluid">
  <div class="row">
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="5pcs-two-color-square-cabochon-bracelet-base-settings-12mm-15mm-dia-blank-bracelets-bangle-bezels-diy.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title">Bracelet</h5>
      <p class="card-text"><b>Art by Sunita</b></p>
      <p class="card-text"><b>Rs.220/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="download.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Home decorative</h5>
      <p class="card-text"><b>Art by Subhi Rao</b></p>
      <p clas="card-text"><b>Rs.7800/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
      <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="kkk.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Door Mat</h5>
    <p class="card-text"><b>Art work by Navitha</b></p>
      <p class="card-text"><b>Rs.759/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
  </div>
    
    <br>
          <br>
          
          
          <div class="container-fluid">
  <div class="row">
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="HTB1sI24HXXXXXXTXXXXq6xXFXXX5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Decorative</h5>
    <p class="card-text"><b>Art work by Sania</b></p>
      <p class="card-text"><b>Rs.8000/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="main-qimg-f0d82f6bfb138df9f1d4c49a3b0fafdb-c.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Decorative</h5>
    <p class="card-text"><b>Art by Jaidev</b></p>
      <p class="card-text"><b>Rs.990/-</b> </p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
      <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="76ac42193fee38fc363035db4f92a49e.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Stone Art</h5>
      <p class="card-text"><b>Art by Pranay</b></p>
      <p class="card-text"><b>Rs.5000/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
          </div>
      </div>
              </div>
              
          <br>
          <br>
          
              <h3 align="center" style="font-family: serif"><font color="white"><b>ON SALE</b></font><font color="red"> (25% OFF)</font></h3>
              <br>
              <br>
                <div class="row">
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="images.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Painting</h5>
    <p class="card-text"><b>Art by Hussain</b></p>
      <strike><p class="card-text"><b>Rs.5000/-</b></p></strike>
      <br>
      <p class="card-text"><b>Rs.3750/-</b></p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="TRY-1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Painting</h5>
    <p class="card-text"><b>Art by Meghana</b></p>
      
      <strike><p class="card-text"><b>Rs.5000</b></p></strike>
      <br>
      <p class="card-text">Rs.3750</p>
    <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
    </div>
      <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="ppp.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bracelet</h5>
      <p class="card-text"><b>Art by Pallavi</b></p>
      <strike><p class="card-text"><b><hr>Rs.1000/-</b></p></strike>
      <p class="card-text"><b>Rs.750/-</b></p>
      <a href="#" class="btn btn-primary">BUY NOW</a>
  </div>
          </div>
      </div>
          
    
      </div>
    <br>
    <br>
    <br>
    <h3 align="center" style="color: darkgrey"> contact us</h3>
    <p align="center" style="color: gray"> phone no. 8008735335,00401237</p>
    
   
 </body>
          
<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAWFEVnGgjXW4s2cWgmvxv4CnIvvhWIPEs",
    authDomain: "grounded-ff998.firebaseapp.com",
    databaseURL: "https://grounded-ff998.firebaseio.com",
    projectId: "grounded-ff998",
    storageBucket: "grounded-ff998.appspot.com",
    messagingSenderId: "829998790489"
  };
  firebase.initializeApp(config);
</script>
</html>                     
              